<div data-hook="admin_shipping_category_form_fields">
  <div data-hook="name" class="form-group">
    <%= label_tag :shipping_category_name, Spree.t(:name) %><br>
<<<<<<< HEAD
    <%= f.text_field :name, class: 'form-control' %>
=======
    <%= f.text_field :name %>
>>>>>>> Backend on Bootstrap
  </div>
</div>
