<<<<<<< HEAD
table.table {
  tbody {
    tr {
      td {
        vertical-align: middle;

        &.actions {
          text-align: right;
        }
      }
    }
  }
}

#table-filter {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -3px;
  display: table;
  width: 100%;
}
=======
>>>>>>> Fixing errors in merge
